.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-title {
  font-size: 2rem;
  margin-top: 1.6rem;
}

.form-container {
  /* margin-top: 7rem; */
}

@media (max-width: 768px) {
  .contact-title {
    margin-top: 5.5rem;
  }
}
