.navbar-container a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.hamburger-lines {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.line1,
.line2,
.line3 {
  height: 10px;
  width: 80px;
  border-radius: 10px;
  background-color: black;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: yellow; */
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  gap: 1rem;
}

.links a {
  font-size: 2rem;
}
