.navbar-container a {
  text-decoration: none;
  color: black;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 3rem;
  /* top: 0; */
}

.navbar {
  position: fixed;
  background-color: white;
  top: 0;
  height: 5rem;
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    transform: translateX(1);
  }
}

.hamburger-lines {
  display: flex;
  gap: 5px;
  flex-direction: column;
  height: 2rem;
  margin-left: 1000px;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 768px) {
  .hamburger-lines {
    margin-left: 300px;
  }
}

.line1,
.line2,
.line3 {
  height: 3px;
  width: 30px;
  border-radius: 10px;
  background-color: black;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  gap: 1rem;
}

@media (max-width: 768px) {
  .links {
    z-index: 100;
  }
}

.links a {
  font-size: 2rem;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  position: relative;
  text-align: center;
}
