.news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.upcoming-news {
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .upcoming {
    margin-top: 5rem;
  }
}

.news {
  width: 25rem;
}
