.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  max-width: 100%;
  margin-top: 2rem;

  /* background-color: black; */
}

@media (max-width: 768px) {
  .portfolio-container {
    margin-top: 5rem;
  }
}

.portfolio-paintings-container {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(15rem, 1fr));
  gap: 2rem;
}

@media (max-width: 768px) {
  .portfolio-paintings-container {
    grid-template-columns: repeat(2, minmax(8rem, 1fr));
    gap: 2rem;
  }
}

.portfolio-paintings-container img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.portfolio-individual-container {
  height: 15rem;
  width: 15rem;
  overflow: hidden;
}

.portfolio-individual-container img:hover {
  transform: scale(1.05);
  transition: transform ease-in-out 1s, filter linear 0.5s;
  filter: brightness(90%);
}

@media (max-width: 768px) {
  .portfolio-individual-container {
    height: 8rem;
    width: 8rem;
  }
}

.header-temp {
  margin-bottom: 50px;
}

.full-screen-image-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .full-screen-image-container {
    align-items: center;
  }
}

@media (max-width: 768px) {
  #full-image {
    /* height: 70%; */
    max-width: 90vw;
    /* max-height: 90vw; */
    /* aspect-ratio: 1 / 1; */
    object-fit: cover;
  }
}

.category-name {
  font-size: 2rem;
  margin-bottom: 2rem;
}
