.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.portfolio-paintings-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.portfolio-paintings-container img {
  height: 17rem;
  width: 17rem;
  object-fit: cover;
}

.portfolio-individual-container {
  height: 17rem;
  width: 17rem;
  overflow: hidden;
}

.header-temp {
  margin-bottom: 50px;
}
